@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

p[epub|type~="se:letter.dateline"]{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

section[epub|type~="preface"] header + p{
	margin-top: 0;
}

[epub|type~="z3998:salutation"]{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

section[epub|type~="preface"] footer p{
	font-style: italic;
}

section[epub|type~="preface"] footer p span,
section[epub|type~="preface"] footer p b{
	font-style: normal;
}
